html, body {
  margin: 0px;
  background-color: #363431;
}

nav {
  background-color: #363431;
  width: 100%;

  position: fixed;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 8px;
}

.brownProductSection, .yellowProductSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.brownProductSection {
  background-color: #363431;
}

.yellowProductSection {
  background-color: #E8D3B7;

}

.productLinks {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.ExtraFancyDonutImages {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content:center;
}

/* images */

.logo {
  width: 24px;
}

.regularDonutImage {
  width: 600px;
  height: 460px;
  object-fit: cover;
  object-position: 100% 0%;
}

.fancyDonutImage {
  width: 600px;
  height: 460px;
  object-fit: cover;
  object-position: 100% 0%;

  margin-top: 20px;
}

.extraFancyDonutImage {
  width: 600px;
  height: 460px;
  object-fit: cover;
  object-position: 100% 0%;

  margin-top: 20px;
  margin-right: -200px;
  margin-left: -200px;

}

.lineSpace {
  height: 40px;

}

/* text */

h1, h2, h3, h4, a{
  font-family: Arial;
  font-weight: normal;
  margin: 0px; /* reset all spacing */
}

h1 {
  font-size: 70px;
  font-weight: bold;
  margin-top: 80px;
  margin-bottom: 16px;
}
h2 {
  font-size: 28px;
  text-align: center;
}
h3 {
  font-size: 18px;
  color: #B1B1B1;
  margin-top: 4px;
}
h4 {
  color: #363431;
  font-size: 18px;
}
a {
  font-size: 24px;
  text-decoration: none;
  color: #52AFFF;

  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 0px;
}

.navText {
  color: #FFFFFF;
  font-size: 14px;
  margin: 0px;
  margin-left: 36px;
  margin-right: 36px;
}

.whiteText {
  color: #FFFFFF;
}

.darkText {
  color: #363431;
}

.lightGreyText {
  color: #B1B1B1;

}

.darkBlue {
  color: #008BFF;
}

.darkGreyText{
  color: #8D8D8D;
}

.h1Light {
  font-size: 100px;
}
